@media screen and (max-width: 767px) {

    .fastcon-btn {
        width: 100%;
        text-align: center;
    }

    .width-md-fit {
        width: 100% !important;
        text-align: center;
    }

    .width-sm-fit {
        width: fit-content !important;
    }

    .large-medium-only {
        display: none !important;
    }

    .small-only {
        display: block;
    }

    #content .content-wrap {
        padding: 60px 0 100px;
    }

    .container,
    .stretched .full-header #header-wrap > .container {
        max-width: $max-width-small !important;
    }

    .svg-trigger {
        width: 45px;
        height: 45px;
    }

    .hero-section_bg {
        max-width: 90%;
        img.hero-img {
            max-width: 172px;
            left: 4%;
        }

        img.hero-bg {
            max-width: 80%;
            width: 80%;
        }
    }

    .hero-section_info {
        .hero-section_info-wrap,
        .hero-section_info-btn,
        .hero-section_info-iso {
            @include container_small;
            max-width: 310px;
        }
    }

    .primary-menu {
        flex-direction: column;
        justify-content: space-around;
    }

    .account-link-wrap {
        display: flex;
        justify-content: center;
        position: relative;
        top: -20px;
        width: 100%;
        margin-bottom: 0;

        background-color: #757575;
        
        li {
            padding-left: 5%;
            list-style: none;
            padding-top: 10px;
            padding-bottom: 10px;
            
            a {
                display: flex;
                align-items: center;
                color: #fff;
                
                svg {
                    margin-right: 12px;

                    path {
                        fill: #fff;
                    }
                }
            }
        }
    }

    .sub-menu-container {
        .menu-link {
            color: $grayscale-900 !important;
            font-size: 18px !important;
            line-height: 21px;
            font-weight: 400 !important;
        }
    }

    .menu-link {
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
    }

    .menu-item .sub-menu-trigger {
        top: 25px;
    }

    .breadcrumbs {
        display: none;
    }

    .slick-slide:not(.product-details-img-wrap .slick-slide) {
        margin-right: 20px;
        max-width: 324px;
    }

    .slider-for {
        margin-left: 0;
        margin-right: 0;
        left: unset;
    }

    .slider-for .slick-list {
        max-width: 315px;
        width: 315px;
    }

    .slick-dots {
        @include flex_center;
    }

    .product-details-img-wrap {
        justify-content: center;
    }

    .product-details-img-wrap .slick-slide {
        max-width: 315px;
        width: 315px !important;
        margin: 0 auto;
    }

    .slick-dots{
        bottom: 20px;
    }

    .slick-dots li,
    .slick-dots li button {
        padding: 0;
        width: 12px;
        height: 12px;
    }

    .slick-dots li button:before {
        content: '';
        font-size: 14px;
        width: 12px;
        height: 12px;
        color: #fff;
        background-color: #fff;
        opacity: 1;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }

    .slick-dots li.slick-active button:before {
        color: $primary-900;
        background-color: $primary-900;
        opacity: 1;
    }

    .qty-wrap .quantity .qty {
        width: 75%;
    }

    .fastcon-news .fastcon-news-item {
        height: 373px;
        max-height: 373px;
    }

    .fastcon-news-home {
        margin: 30px 0 40px;
    }

    .fastcon-news-home > div:nth-child(2) {
        display: none;
    }

    .footer-column .iso-img {
        max-width: 205px;
    }

    .cr-wrap, .cr-wrap .cr {
        text-align: center;
    }

    .cr-wrap {
        margin-top: 20px;
    }

    .cr-wrap .cr {
        margin-top: 30px;
    }
    

    .fastcon-product-list .product-item {
        margin-bottom: 0;
    }
    
    .related-product-wrap > div:nth-child(2) {
        display: none;
    }

    .tab-product-details {
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
        display: inline-block;
    }

    .tab-nav li a {
        display: flex;
        align-items: center;

        font-family: 'Jura', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }

    .fastcon-product-list .product-item .product-desc {
        width: 95%;
    }

    .products-wrap {
        margin-top: 40px;
    }

    .tab-container {
        padding: 34px 0 !important;

        .tab-content {
            width: $max-width-small;
            margin: 0 auto;
        }
    }

    .post-carousel-title {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .cart-card-wrap {

        .cart-card-item {

            flex-direction: column;

            .card-img {
                width: 100%;
                max-width: 100%;

                img {
                  max-width: 64px;
                  margin-bottom: 10px;
                }
            }

            .card-desc {
                h4 {
                    max-width: 100%;
                }
            }

            .card-qty {
                justify-content: center;
                margin-left: 0;
                margin-top: 20px;

                .quantity {
                    width: 100%;
                }

                .qty {
                    width: 75%;
                }
            }

            .delete-link {
                position: absolute;
                right: 5%;
            }
        }
    }

    .cart-option-wrap {
        padding: 40px 15px 0;
    }

    #banner {
        background-position: 80%;
        max-height: 375px;
        min-height: 375px;
        display: flex;
        align-items: flex-end;

        .title-card {
            padding: 30px;
            max-width: 90%;
            width: 90%;
            min-height: 172px;

            h2 {
                width: 222px;
            }
        }
    }

    .contact-banner {
        background-position: center;
    }

    .project-list-wrap {
        padding: 60px 0 80px;
    }

    .projects-wrap {
        margin-top: 40px;
        .project-item {
            margin-bottom: 30px;
        }
    }

    .project-slider-bg {
        max-width: 87%;
        height: 264px;
    }

    .owl-carousel .owl-item img {
        width: 90%;
    }

    .projects-tab-container {
        padding: 0 !important;
    }

    .project-details-slider-mobile {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        height: 279px;
    }

    .slider-nav {
        display: none;
    }

    .project-content {
        margin-top: 285px;
        
        p {
            margin-bottom: 10px;
        }
    }

    .maps-wrap {
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 50%;
        padding: 0;
        min-height: 375px;

        .fluid-width-video-wrapper {
            height: 100%;
        }
    }

    .owl-carousel .owl-dots .owl-dot {
        margin-right: 7px;
        margin-left: 0;
        width: 8px;
        height: 8px;
    }

    .owl-carousel .owl-dots {
        width: 90%;
        max-width: 90%;
        bottom: 20px;
    }

    .fastcon-distributor-wrap {
        margin-top: 40px;
    }

    .fastcon-post .fastcon-post-item .fastcon-post-info .fastcon-description::after {
        bottom: 37%;
    }

    .contact-address-wrap > div:first-child {
        margin-bottom: 40px;
    }

    .contact-address-wrap h3 {
        margin-bottom: 20px;
    }

    .contact-form {
        margin-top: 50px;
    }

    .btn-wrap {
        @include flex_center;

        button {
            margin-bottom: 20px;
        }
    }

    .login-title-wrap {
        h1 {
            font-size: 24px;
        }
    }

    .login-form {
        .btn-wrap {
            flex-direction: column;
            
            button[type="submit"] {   
                margin-right: 0;
            }

            a {
                text-align: center;
            }
        }
    }

    .member-content-wrap {
        width: $max-width-small;
        max-width: $max-width-small;

        .member-container {
            max-width: $max-width-small !important;
        }
    }

    .coupon-details {
        div {
            margin-bottom: 20px;
        }
    }

    .accordion-title {
        display: flex;
        flex-direction: column;
    
        img {
            max-width: 60px;
            max-height: 60px;
            margin-right: 0;
            margin-bottom: 20px;
        }
    
        .info-body {
            margin-left: 0;
            div {
                &:not(.status-wrap) {
                    display: flex;
                }
                margin-bottom: 15px;
    
                &:last-child {
                    margin-right: 36px;
                }

                p:first-child {
                    margin-right: 5px;	
                }
    
                p {
                    margin-bottom: 7px;	
                }
            }
        }
    
        .fastcon-btn:hover{
            background-color: $primary-900;
        }
    }

    .accordion-content .card-summary {
        padding: 20px 0;
    }

    .home-modal {

        .modal-dialog {
            margin-left: auto;
            margin-right: auto;

            .modal-body {
                padding: unset;

                img {
                    max-width: 184px;
                }
            }
        }

        .modal-content {
            width: 315px;
            padding: 50px 30px;

            .modal-header {
                padding-top: 0;
                margin-bottom: 30px;
            }

            .modal-body {
                padding: 0 !important;
                p {
                    margin-bottom: 40px;
                }
            }

            .button-wrap {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 100%;

                a {
                    margin-bottom: 20px;
                }

                .fastcon-btn {
                    width: 100%;
                }
            }
        }

    }

    .delete-cart-modal.show {
        .modal-content{
            .modal-body {
                padding: 30px;
            }
        }
    }

    .modal-dialog {
        max-width: $max-width-small;
        margin-left: auto;
        margin-right: auto;

        .modal-body {
            padding: 0;
        }

        .modal-content {
            .modal-body {
                padding: 30px;
            }
        }
    }

    .about-wrap {
        .tab-container {
            padding-top: 0 !important;

            .form-group {
                margin-bottom: 50px;
            }
        }
    }

    .address-links {
        flex-direction: column;
        margin-top: 20px !important;

        .btn-wrap {
            margin-bottom: 20px;
            width: 100% ;
            
            a {
                margin-right: 0 !important;
                width: 100% !important;
                text-align: center;
            }
        }

        .card-btn-wrap {
            display: flex;
        }
    }

    .label-btn {
        width: fit-content !important;
    }

    .coupon-wrap {
        margin-left: -15px;
    }

    .forgot-wrap {
        max-width: 100%;
    }

    .thankyou-wrap {
        img {
            max-width: 130px;
        }

        h2 {
            margin: 40px 0 20px;
        }

        .button-wrap {
            width: 100%;
        }
    }

    .delete-cart-modal.show .modal-dialog {
        max-width: $max-width-small;
    }

    .link-wrap {
        display: flex;
        justify-content: center;
        margin: 30px 0 0;
    }

    .fastcon-alert {
        margin-top: 40px;
    }

    .address-modal .modal-body .address-modal-card {

        display: flex;
        flex-direction: column;

        .btn-wrap {
            display: flex;
            flex-direction: column;
            width: 100%;
            
            a:first-child {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        
    } 

    .address-modal-card > a.edit-link {
        align-self: center;
    }

    .address-modal.show .modal-dialog {
        max-width: $max-width-small;
    }

    .address-modal.show .modal-dialog > .modal-body .modal-content {
        max-height: 600px;
        overflow-y: scroll;
    }
}